@import "utilities.css";

:root{
    --primary:#3DCFD3;
    --dark:#161616;
    --pure:#FFFFFF;
    --ternary:#898989;
    --light:#F2F2F2;
    --secondary:#070606;
}
body{
    height: auto;
    font-family: 'poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing:antialiased;
}

header{
    background:var(--dark);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 90%, 0 100%);
}
.container{
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}
header nav .left a{

    color: var(--pure);
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition:all.3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;

}
div.navtop{
    z-index: 1000;
}
nav.sticky {
    background: black;
    padding: 0px 0;
  }
header nav .left a:hover{
    color:var(--primary)
}
header nav{
    z-index: 1000;
    padding: 2rem o;

}
header nav .branding{
    margin-right: 3rem;
    z-index: 1000;
}
.hero{
    padding: 3rem 0 ;
}
.hero .left img{
    width: 400px;
}
.hero .right{
    color: var(--pure);

}
.hero .right h6{
    font-size: 1.6rem;
    color:var(--primary);
    margin-bottom: 0.5 rem;

}
.hero .right h1{
    font-size: 4rem;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 2rem;
}
.hero .right h1 span {
    color: var(--primary);
}
.hero .right p{
    line-height: 1.9;
    margin-bottom: 2rem;
}
.hero .right {
    margin-top: -7rem;
}
section{
    padding: 6rem 0;
}
section.about ul{
    display: flex;
    padding: 0.5em;
}
section.about ul li{
    position: relative;
    display: block;
    color: #666;
    font-size: 30px;
    height: 100px;
    width: 100px;
    line-height: 60px;
    border-radius: 50%;
    margin: 0 15px;
    cursor: pointer;    
}
section.about.about-me-img{
    height: 450px;
}
section.about h1 {
    margin-bottom:1rem;
    font-size: 1.6rem;
    font-weight: 400;
}
section.about h1 span{
    color: var(--primary);
}
section.about h3{
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
}
section.about p{
    font-family: 'Lato',sans-serif;
    color: var(--ternary);
    line-height: 1.8;
    margin-bottom: 2rem;
}
section.about .social{
    display: flex;
}
section.about .social a{
    background: var(--pure);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-borer-radius:50%;
    -moz-border-radius: 50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    margin-right: 0.5rem;
    transition: all .3s ease;
}
section.about .social a:hover{
    background: var(--primary);
}
section.about .social a img{
    width: 100px;
    height: 100px;
    padding: 2rem;
}
.section-heading{
    color: var(--secondary);
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5;
}
.section-heading span{
    color: var(--primary);
    margin-left: 0.5rem;
}
.section-heading + p{
    color: var(--ternary);
    font-family: 'Lato',sans-serif;
    margin-bottom: 6rem;
    text-align: center;
}
section.services{
    background: var(--light);

}
section.services .card-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap:2rem ;
    grid-row-gap:6rem ;
}
section.services .card-wrapper .card{
    background: var(--pure);
    padding: 3rem 2rem;
    position: relative;
    padding-top: 6rem;
    text-align: center;
    transition: all 0.3s ease;
}
section.services .card-wrapper .card img{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -3.5rem;
    left:50%;
    transform: translateX(-50%);
   
}
section.services .card-wrapper .card h2{
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;

}
section.services .card-wrapper .card p{
    font-family: 'Lato',sans-serif;
    color:var(--ternary);
    line-height: 1.6;
}
section.services .card-wrapper .card:hover{
    background: var(--dark);
}
section.services .card-wrapper .card:hover h2{
    color:var(--pure);
}
section.services .card-wrapper .card:hover p{
    color:var(--pure);
}

/* projects */
section.blog{
    background: var(--dark);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 90%, 0 100%);
    padding: 12rem;

}
section.blog .section-heading{
    color: var(--pure);
}
section.blog .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:3rem;
}
section.blog .card-wrapper .card{
    background: var(--pure);
}
section.blog .card-wrapper .card .img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section.blog .card-wrapper .card .card-content{
    padding: 1rem;
    padding-left:2rem;
    padding-right: 2rem;
}
section.blog .card-wrapper .card .card-content h1{
    font-size: 1rem;
    text-align:center;
    font-weight: 600;
}
section.blog .card-wrapper .card .card-content a{
    color: var(--secondary);
    text-decoration: none;
}
section.blog .card-wrapper .card .card-content a:hover{
    color: var(--primary);
}
section.blog .card-wrapper .card .card-content span{
    color: var(--ternary);
    font-size: 0.8rem;
}
section.blog .card-wrapper .card .card-content p{
    font-family: 'Lato',sans-serif;
    color: var(--ternary);
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: justify;
}
section.blog .card-wrapper .card .card-content a.read-more{
    font-size: 0.8rem;
}
/* education part */
section.education{
    background: var(--light);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 90%, 0 100%);
    padding: 12rem;

}
section.education .section-heading{
    color: var(--dark);
}
section.education .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:3rem;
}
section.education .card-wrapper .card .img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section.education .card-wrapper .card .card-content{
    padding: 1rem;
    padding-left:2rem;
    padding-right: 2rem;
}
section.education .card-wrapper .card .card-content h1{
    font-size: 1rem;
    font-weight: 600;
}
section.education .card-wrapper .card .card-content a{
    color: var(--secondary);
    text-decoration: none;
}
section.education .card-wrapper .card .card-content a:hover{
    color: var(--primary);
}
section.education .card-wrapper .card .card-content span{
    color: var(--ternary);
    font-size: 0.8rem;
}
section.education .card-wrapper .card .card-content p{
    font-family: 'Lato',sans-serif;
    color: var(--ternary);
    margin-top: 1rem;
    margin-bottom: 1rem;
}
section.education .card-wrapper .card .card-content a.read-more{
    font-size: 0.8rem;
}
/* contact*/
section.contact .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:3rem;
}
section.contact .card-wrapper .card{
    text-align: center;
}
section.contact .card-wrapper .card img{
    width: 120px;
    height: 120px;
    margin-bottom: 3rem;
}
section.contact .card-wrapper .card h1{
    font-weight: 400;
    margin-bottom: 1rem;
    
}
section.contact .card-wrapper .card h6{
    font-size: 1rem;
    color: var(--ternary);
    font-weight: 400;
    margin-bottom: 4rem;
}
/* contact*/
section.contact .input-wrap{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:2rem;
    margin-bottom: 2rem;

}
section.contact .input-wrap-2{
    display: flex;
    flex-direction: column;
}
section.contact .input-wrap-2 input{
    margin-bottom: 2rem;
}
section.contact input{
    padding: 1rem;
    border: 1px solid var(--dark);
    font-size: 0.9rem;
}
section.contact .input-wrap-2 textarea{
    padding: 0.5rem;
    border: 1px solid var(--dark);
    font-size: 0.8rem;
}
section.contact .input-wrap-2 textarea:focus{
    outline: none;
}
section.contact input:focus{
    outline: none;
}
section.contact .btn-wrapper{
    text-align: center;
    margin-top: 2rem;
}

/*mobile navigation*/
@media(max-width:1024px){
    header #main-nav{
        display: none;
    }
}
.site-main-wrapper{
    position: relative;
}
.hamberger{
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 11;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}
.hamberger img{
    width: 30px;
}
.mobile-nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    background: var(--light);
    width: 100%;
    height: 100%;
    padding: 2rem;
    padding-top: 5rem;
    transform: translateX(-100%);
    transition: all .0.5s ease;
}
.open{
    transform: translateX(0);
}
.times{
    position: fixed;
    top: 30px;
    right: 30px;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}
.times img{
    width: 30px;
}
.mobile-nav ul{
    list-style-type: none;
}
.mobile-nav ul li a{
    color: var(--secondary);
    text-decoration: none;
    font-size: 2rem;
}
footer{
    height: 100px;
    background: var(--dark);
    text-align: center;
}
footer .copyright{
    color: var(--pure);
}

/* contact section styling */
.contact .title:after{
    content: "get in touch";
}
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color:var(--primary);
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: #333;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
    border-color: #b3b3b3;
}
.contact .right form .textarea textarea{
  padding-top: 10px;
  resize: none;
}
.contact .right form .button-area{
  display: flex;
  align-items: center;
}
.right form .button-area button{
  color: #fff;
  display: block;
  width: 160px!important;
  height: 45px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  background: crimson;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}
.right form .button-area button:hover{
  color: crimson;
  background: none;
}
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
  
  .main {
    padding: 16px;
    margin-top: 30px;
    height: 1500px; /* Used in this example to enable scrolling */
  }